<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<appSettings>
		<!-- Group of setting bellow are used for OAuth authenticacation request -->
		<add key="baseAddress" value="https://base.address" />
		<add key="clientId" value="" />
		<add key="userName" value="" />
		<add key="password" value="" />
		<!-- Setting bellow is used for new Inventory creation and should be populated with a Primary Key of defalt Inventory Group.
		Organization => Org Configuration => Inventory Groups in Web application -->
		<add key="inventoryGroupId" value="" />
		<!-- Setting bellow is used for Depletion Interface example.
		It should be populated with two or more Facility No values separarted by coma -->
		<add key="facilitiesNoList" value="" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>